.aboutLanding{
  margin-top: 60vh;
  transform:translateY(-30vh);
}

.privateEventInfo, .restaurantInfo{
    margin: auto;
    background-color: #E5ED61;
    opacity:.85;
    text-align: left;
    max-width: 90%;
    width:1000px;
    min-width: 250px;
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;
  }

.infoWrapper{
    background-color: lightgrey;
    margin-top: 30vh;
    margin-bottom: 0;
    text-align: center;
    padding: 80px 0 ;
  }

.privateEventInfo{
    padding-left: 80px;
  }

.restaurantInfo{
    padding-right: 80px;
    margin: auto;
  }

.infoTextEvents, .infoTextRestaurant{
    padding-bottom:20px;
    width:800px;
  }

.infoTextEvents{
  }

h3{
    font-weight: bolder;
  }

.infoTextRestaurant{
    margin-left: 40px;
  }

.quote{
    border-left: solid 1px;
    float:right;
  }

.setUp{
    border-right: solid 1px;
    float:left;
  }

.quote, .setUp{
    border-color: white;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    width: 200px;
  }

.quote > h4, .setUp > h4{
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
  }

.quote:hover, .setUp:hover{
    background-color: #0abab5;
    cursor: pointer;
  }

@media only screen and (min-device-width:800px){
  .quote{
    border-top: solid 1px;
    margin: auto;
    /* position: absolute; */
    display:flex;
  }

  .setUp{
    border-right: solid 1px;
    float:left;
    }

  .quote, .setUp{
    border-color: white;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    width: 200px;
    }

    .infoTextEvents, .infoTextRestaurant{
      padding-bottom:20px;
      width:100vw;
      }
}
