.aboutLanding{
  margin: auto;
  margin-top: 15vh;
  background-color: black;
  color: white;
  opacity: .7;
  max-width: 75%;
  padding: 65px
}

body{
  background: none;
}

#navMenu{
  margin-top:15vh;
  opacity:1;
  color:white;
  width: 100%;
  position: sticky;
  margin-bottom: 0;
}

#navMenu > ul{
  background-color:#0abab5;
  font-weight: bold;
  color: white; !important
  opacity: 1;
  margin-left: 0;
}

#navMenu >ul > li:hover{
  color: #E5ED61;
}

.infoWrapper{
    padding: 60px 0;
    background-color: lightgrey;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
  }

.infoText{
    padding: 30px 65px;
    margin-top: 40px;
    overflow: hidden;
    margin: auto;
    background-color: #E5ED61;
    opacity:.85;
    text-align: left;
    max-width: 75%;
    min-width: 250px;
    align-items: stretch;
    margin-bottom: 20px;
  }

  .reportIssueForm{
    text-align: center;
  }

p{
  margin-bottom: 20pt;
  font-family: Nunito;
}

h3{
    font-weight: bolder;
  }

.buttonWrapper{
  width:100%;
  text-align: center;
  margin:auto;
}

.quote{
    -webkit-transition: all .5s ease;
    font-family: 'itc-american-typewriter', serif;
    font-size: 24px;
    color:#0abab5;
    border: solid 3px;
    border-radius: 10px;
    border-color: white;
    box-sizing: border-box;
    align-content: center;
    width: 200px;
    text-align: center;
    background-color: #E5ED61;
  }

.quote > h4,{
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
  }

.quote:hover, .quote:active{
    background-color: #0abab5;
    color: white;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    transform: scale(1.05);
    box-shadow:  0 0 5px black;
  }

@media only screen and (max-device-width:800px){

  .quote{
    border-top: solid 1px;
    margin: auto;
    border-color: white;
    box-sizing: border-box;
    align-content: center;
    width: 200px;
    }

  .infoText{
    padding: 10px 10px 20px 10px;
    max-width:100%;
    margin-top: 0px;
    }
}
