html{
  height:100vh;
}

h3{
  font-size: 24px;
  font-family: itc-american-typewriter, serif;
}

.previewImg{
  width:500px;
  height:auto;
  margin:auto;
}

img.landingimage{
  background-position: center;
  z-index: -1;
  background-color: lightgrey;
  z-index: -2;
  position:fixed;
  margin-bottom: 0;
  top: 0px;
  left: 0px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  opacity: .4;
}

div.claimLanding{
  background-color: #e1e1e1;
  padding: 40px;
  padding-bottom: 10px;
  display: block;
  max-width: 800px;
  min-width: 400px;
  text-align: center;
  margin: auto;
  position: relative;
  top: 50vh;
  transform: translateY(-70%);
  border-radius: 80px;
  border: solid 10px;
  border-color: #0abab5;
}

div.showPic{
  }


.footer{
  position:fixed;
}

.modal-content{
  max-width: 800px;
  /* margin: auto; */
  position: relative;
  top: 50vh;
  transform: translateY(-65%);
  border-radius: 30px;
  border: solid #0abab5 5px;
  padding-bottom: 30px;
}

#claimPhotoModal{
  display: block;
  margin: auto;
}

#reportIssueModal{
  display: none;
  margin: auto;
}
.reportIssue{
  /* display: none; */
  /* opacity: 0; */
  text-align: center;
  margin: auto;
}

#issueComment{
  height: 100px;
  width: 500px;
}
#issueSubject{
  width: 500px;
}

#picID{
  background-color: #CFE5E5;
  border-radius: 10px;
}

@media only screen and (max-device-width:1024px){
  h3{
    font-size: 24px;
  }
  div.showPic{
    margin: 15px;
    box-sizing: border-box;
  }
  .subButton{
    border-radius: 5px;
    border: solid 1px #CFE5E5;
    margin: 15px;
  }
  div.claimLanding{
    transform: translateY(-50vh);
    background-color: white;
    min-width: 0px;
    box-sizing: border-box;
    width: 100vw;
    padding-top: 30px;
    overflow: show;
    margin: auto;
    margin-top: 0;
    radius: 0;
    border-radius: 0px;
    height: 100vh;
  }

  .previewImg{
    width:80vw;
    height:auto;
    margin:auto;
  }
  .modal-content{
    margin-top: 20vh;
  }
