html{
  height:100vh;
}

h3{
  font-size: 24px;
  font-family: itc-american-typewriter, serif;
}

.previewImg{
  max-width:500px;
  max-height:50vh;
  height:auto;
  margin:auto;
  margin: 15px;
}

img.landingimage{
  background-position: center;
  z-index: -1;
  background-color: lightgrey;
  z-index: -2;
  position:fixed;
  margin-bottom: 0;
  top: 0px;
  left: 0px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  opacity: .4;
}

div.claimLanding{
  background-color: #e1e1e1;
  padding-top: 40px;
  padding-bottom: 0px;
  display: block;
  max-width: 800px;
  min-width: 400px;
  text-align: center;
  margin: auto;
  position: relative;
  top: 50vh;
  transform: translateY(-70%);
  border-radius: 80px;
  border: solid 10px;
  box-sizing: content-box;
  border-color: #0abab5;
  overflow: hidden;
}

.footer{
  position:fixed;
}

.getPicForm{
  margin-bottom: 30px;
}

#navMenu > ul{
  background-color: rgba(0,0,0,0);
  color: #0abab5;
}

#navMenu > ul >li:hover{
  color: black;
}

.modal-content{
  max-width: 800px;
  position: relative;
  top: 50vh;
  transform: translateY(-65%);
  border-radius: 30px;
  border: solid #0abab5 5px;
  padding-bottom: 30px;
  /* background-color: #e1e1e1; */e
}

#claimPhotoModal{
  display: block;
  margin: auto;
}

#reportIssueModal{
  display: none;
  margin: auto;
}
.reportIssue{
  text-align: center;
  margin: auto;
}

#issueComment{
  height: 100px;
  width: 500px;
}
#issueSubject{
  width: 500px;
}

#picID{
  background-color: #CFE5E5;
  border-radius: 10px;
}

@media only screen and (max-device-width:1024px){
  h3{
    font-size: 24px;
  }

  div.getPicForm{
    position: absolute;
    top: 30%;
  }

  div.showPic{
    margin: 15px;
    box-sizing: border-box;
  }
  .subButton{
    border-radius: 5px;
    border: solid 1px #CFE5E5;
    margin: 15px;
  }

  .getPicForm{

  }
  div.claimLanding{
    background-color: white;
    min-width: 0px;
    box-sizing: border-box;
    width: 100vw;
    padding-top: 30px;
    overflow: show;
    margin-top: 0;
    radius: 0;
    border-radius: 0px;
    position:absolute;
    top: 60%;
    height: 50vh;
    border-radius: 40px;
  }

  #navMenu{
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
  #navMenu > ul{
    color: #0abab5;
  }

  .previewImg{
    max-width: 80vw;
    width:100%;
    height:auto;
    margin:auto;
  }
  .modal-content{
    margin-top: 20vh;
  }
