
body{
  padding: none;
}

a, a:active, a:hover{
  all:unset;
}

#navMenu{
  text-align: center;
  opacity:1;
  color:white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  margin: auto;
  margin-bottom: 0px;
  height:30px;
  line-height: 30px;
}

#navMenu > ul{
    background-color:#0abab5;
    color: white;
    margin-left: 0;
    padding-inline-start: 0px;
    list-style: none outside none;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
}

#navMenu > ul > li{
  display: inline;
  margin: 10px;
  -webkit-transition: all .5s ease;
}

#navMenu > ul > li:hover{
  -webkit-transition: all .5s ease;
  box-sizing: content-box;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  border-bottom: solid 1px #61C2D3;
  width: 100%;
  height: 100%;
  color: #E5ED61;
}

#activeMenuItem{
  font-weight: 600;
  font-size: 16px;
  border-bottom: solid 1px #61C2D3;
}
